[submodule "test/emdevif_test_framework"]
	path = test/emdevif_test_framework
	url = https://github.com/CQUT-RoboMaster-ShiJi-DREAMER-ECU-Team/emdevif_test_framework.git
[submodule "test/nva_print"]
	path = test/nva_print
	url = https://github.com/du-yicheng23/nva_print.git
